# Created by .ignore support plugin (hsz.mobi)
.idea
.settings
.classpath
MyProject.iml
target
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
template.xml.bak
myUnit.xlsx
template.xml
